
   
table, th, td{
    border: 1px solid black;                
}
th, td {
    padding: 10px; /* espaço interno */
    text-align: center; /* centralizar texto*/
}
    th {
        background-color: #333;
        color: white;
        }
        td {
        background-color: #f2f2f2;
        }
h2{
    color:blue;
    padding-top: 3em; 
    
    
}
 h1{
    color: aliceblue;
    background:rgb(0, 60, 255);

 }
 h9{
    color: aliceblue;
    background:rgb(0, 60, 255)
 }

 img {
    
    border-radius: 10px; /* cantos arredondados */
    
 }

 img{
    width:700px; 
 } 
 img{
    height: 400px; ;
 }

.cabeca{
    padding: 0;
    margin: 0;
}
    body{
        
        padding: 0;
        margin: 0;
    }

    * {
        padding: 0;
        margin: 0;
    }

.tabela {
    color:rgb(0, 60, 255);
}
table, th, td{
    border: 1px solid black;                
}
th, td {
    padding: 10px; /* espaço interno */
    text-align: center; /* centralizar texto*/
}
    th {
        background-color: #333;
        color: white;
        }
        td {
        background-color: #f2f2f2;
}
.fim {
    background-color:rgb(0, 60, 255);
    width: 100%;
    height: 2rem;
}

     

    