.caixa1{
    position:relative;
    width: 300px ;
    height:300px ;
    background-color:rgb(0, 242, 255) ;
    
}
.caixa2{
    position: absolute; bottom: 500px; right: 1400px;
    width: 100px ;
    height:100px ;
    background-color:rgb(0, 255, 0) ;
    

}
